*{
    margin: 0;
}
.col-sm-4 .btn-lg {
    float: right;
}
.row {
    margin-top: 0 !important;
}
.container{
    padding-top: 50px;
    margin: auto;
}
.container .table {

}
.container .card image {
    width:100%;
    height: 230px;
}